.help {cursor: help;}

.modebar{ display: none !important; }

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-bottom {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  /*background: rgba(255, 255, 255, .5);*/
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.glide-controls { position: absolute; bottom: 14px; /*padding-left: 10px;*/ width: 100%; }

[data-title] {
    position: relative;
}

[data-title]:after {
    content: attr(data-title);
    background-color: white;
    color: black;
    font-size: 100%;
    width:150px;
    padding: 1px 5px 2px 5px;
    bottom: -2.5em;
      border: 4px solid #137AD1;
      border-radius: 5px;
    right: 100%;
    position: absolute;
    z-index: 99999;
    visibility: hidden;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

.grid-container {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 54px 1fr 45px;
  grid-template-areas: "header header" "sidenav main" "footer footer";
  height: 100vh;
}

.main {
  grid-area: main;
  background-color: #fffff;
  padding-left: 40px;
  padding-right: 32px;
  padding-top: 10px;
  margin-top: 30px;
  max-width: calc(100vw - 400px);
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.timeline-graph {
  border-radius: 5px; 
  background-color: white; 
  border-top: 8px solid #137AD1;
  height: calc(68vh); /* Height of card containing the timeline graph and transparency reporting graph is 290px shorter than the size of the screen */
  overflow-y: scroll;
}

.header {
  grid-area: header;
  background-color: rgba(4, 55, 95);
  padding: 6px 0px 6px 10px;
  display: flex;
  height: 55px;
}

/* Adjusts Data Center Energy Use Dashboard Text */

.title {
  padding: 0px 14px 0px 14px;
  color: #737373;
  margin: 6px 0px 6px 10px;
  border-left: 1px solid darkgray;
  width: 600px;
}

/* Adjusts ISAL logo */

.logo {
  height: 44px;
  padding-top: 5px;
}

.page-title {
  padding: 52px 0px;
}

.card {
  background: #fff;
  padding: 28px;
  margin-bottom: 28px;
  border-radius: 2px;
  background-clip: padding-box;
}

.sidenav {
  grid-area: sidenav;
  padding-top: 20px;
  padding-left: 12px;
}

/* Adjusts font size and spacing of nave bar items */

.ms-Nav-linkText {
  font-size: 20px;
}

/* Adds padding to top of list of li's under industry trends */

#industry-trends-first-element {
  margin-top: 10px;
}

/* Removes padding from last li element under industry trends dropdown items */

#industry-trends-last-element {
  margin-bottom: -10px;
}

/* Adjusts padding below nav bar items */

.ms-Nav-navItem {
  padding-bottom: 10px;
}

body {
  background-color: white;
  min-height: 611px;
  margin-left: 320px;
  margin: 0;
  transition: 0.5s;
}

.footer {
  grid-area: footer;
  background-color: #f3f2f1;
  padding: 12px 20px;
}

/* Add red to input boxes that are not filled out */

.red-border {
  border: 2px solid red;
}

/* Make Modal pop ups stretch only across 65% of the screen for easier reading */

#ModalFocusTrapZone72 {
  width: 50%;
  margin: auto;
}

#ModalFocusTrapZone73 {
  width: 50%;
  margin: auto;
}

/* Adding landing page card styling */
/*
.landing-page-box { width:100%; height:100%; min-height:23vh; background-color:white;
                    border: 1px solid #AAAAAA; margin-bottom: 5px; float: left; 
                    transition: 0.5s ease; position: relative; object-fit: scale-down;}
*/
.landing-page-box { width:100%; height:100%; min-height:23vh; border-radius: 5px; 
                    transition: 0.5s ease; position: relative; object-fit: scale-down;
                    background-color: white; border-top: 8px solid #137AD1;
                    margin-bottom: 5px; float: left;}
                    
.landing-page-icon {width:100%; height:65%; min-height:8vh; background-color: white;
                     border: 0; object-fit: scale-down; text-align: center; }
                     
.buffer-page-icon {width:100%; height:65%; min-height:15vh; background-color: white;
                     border: 0; object-fit: scale-down; text-align: center; }
                     
/* landing-page titles for boxes*/
.landing-page-box-title {font-size: 16px; text-align:center; color: darkblue;
                          font-weight: bold; background-color: none; width:100%; 
                          max-height: 20px; margin-top: 2vh;}
                          
/* landing-page description text of boxes*/
.landing-page-box-description {font-size: 12px; text-align:center; color: darkblue;
                          background-color: none; width:100%; max-height: 20px; 
                          margin-top: 2vh; padding-bottom: 3vh;}

.landing-page-box:hover {-webkit-transform: scale(1.05); 
                          -ms-transform: scale(1.05); transform: scale(1.05); } /* hover effect on boxes*/ 
                          
.landing-page-button { position: absolute; top:0; width: 100%; 
                        height: 100%; opacity: 0; cursor: pointer;}
                        
.landing-page-column {padding-right:3vh}

/* Accordion styling from bootstrap raw css */

.accordion{--bs-accordion-color:#000;--bs-accordion-bg:#fff;--bs-accordion-transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;--bs-accordion-border-color:var(--bs-border-color);--bs-accordion-border-width:1px;--bs-accordion-border-radius:0.375rem;--bs-accordion-inner-border-radius:calc(0.375rem - 1px);--bs-accordion-btn-padding-x:1.25rem;--bs-accordion-btn-padding-y:1rem;--bs-accordion-btn-color:var(--bs-body-color);--bs-accordion-btn-bg:var(--bs-accordion-bg);--bs-accordion-btn-icon:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");--bs-accordion-btn-icon-width:1.25rem;--bs-accordion-btn-icon-transform:rotate(-180deg);--bs-accordion-btn-icon-transition:transform 0.2s ease-in-out;--bs-accordion-btn-active-icon:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");--bs-accordion-btn-focus-border-color:#86b7fe;--bs-accordion-btn-focus-box-shadow:0 0 0 0.25rem rgba(13, 110, 253, 0.25);--bs-accordion-body-padding-x:1.25rem;--bs-accordion-body-padding-y:1rem;--bs-accordion-active-color:#0c63e4;--bs-accordion-active-bg:#e7f1ff}
.accordion-button{position:relative;display:flex;align-items:center;width:100%;padding:var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);font-size:1rem;color:var(--bs-accordion-btn-color);text-align:left;background-color:var(--bs-accordion-btn-bg);border:1;border-color:#137AD1;border-radius:0;overflow-anchor:none;transition:var(--bs-accordion-transition)}
@media (prefers-reduced-motion:reduce){.accordion-button{transition:none}}
.accordion-button:not(.collapsed){color:var(--bs-accordion-active-color);background-color:var(--bs-accordion-active-bg);box-shadow:inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color)}.accordion-button:not(.collapsed)::after{background-image:var(--bs-accordion-btn-active-icon);transform:var(--bs-accordion-btn-icon-transform)}.accordion-button::after{flex-shrink:0;width:var(--bs-accordion-btn-icon-width);height:var(--bs-accordion-btn-icon-width);margin-left:auto;content:"";background-image:var(--bs-accordion-btn-icon);background-repeat:no-repeat;background-size:var(--bs-accordion-btn-icon-width);transition:var(--bs-accordion-btn-icon-transition)}@media (prefers-reduced-motion:reduce){.accordion-button::after{transition:none}}.accordion-button:hover{z-index:2}.accordion-button:focus{z-index:3;border-color:var(--bs-accordion-btn-focus-border-color);outline:0;box-shadow:var(--bs-accordion-btn-focus-box-shadow)}
.accordion-header{margin-bottom:0}
.accordion-item{color:var(--bs-accordion-color);background-color:var(--bs-accordion-bg);border:var(--bs-accordion-border-width) solid var(--bs-accordion-border-color)}.accordion-item:first-of-type{border-top-left-radius:var(--bs-accordion-border-radius);border-top-right-radius:var(--bs-accordion-border-radius)}.accordion-item:first-of-type .accordion-button{border-top-left-radius:var(--bs-accordion-inner-border-radius);border-top-right-radius:var(--bs-accordion-inner-border-radius)}.accordion-item:not(:first-of-type){border-top:0}.accordion-item:last-of-type{border-bottom-right-radius:var(--bs-accordion-border-radius);border-bottom-left-radius:var(--bs-accordion-border-radius)}
.accordion-item:last-of-type .accordion-button.collapsed{border-bottom-right-radius:var(--bs-accordion-inner-border-radius);border-bottom-left-radius:var(--bs-accordion-inner-border-radius)}
.accordion-item:last-of-type .accordion-collapse{border-bottom-right-radius:var(--bs-accordion-border-radius);border-bottom-left-radius:var(--bs-accordion-border-radius)}.accordion-body{padding:var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x)}
.accordion-flush .accordion-collapse{border-width:0}.accordion-flush .accordion-item{border-right:0;border-left:0;border-radius:0}.accordion-flush .accordion-item:first-child{border-top:0}.accordion-flush .accordion-item:last-child{border-bottom:0}.accordion-flush .accordion-item .accordion-button{border-radius:0}.collapse:not(.show){display:none}

/*
.fieldGroup-131 {
  width: 50px;
}
*/

/* rgba(225, 223, 221, 0.2) old gray color