.grid-container {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 54px 1fr 45px;
  grid-template-areas: "header header" "sidenav main" "footer footer";
  height: 100vh;
}

.main {
  grid-area: main;
  background-color: #fffff;
  padding-left: 40px;
  padding-right: 32px;
  padding-top: 10px;
  margin-top: 30px;
  max-width: calc(100vw - 400px);
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.timeline-graph {
  border-radius: 5px; 
  background-color: white; 
  border-top: 8px solid #137AD1;
  height: calc(100vh - 290px); /* Height of card containing the timeline graph and transparency reporting graph is 290px shorter than the size of the screen */
  overflow-y: scroll; 
  position: relative;
}

.header {
  grid-area: header;
  background-color: rgba(4, 55, 95);
  padding: 6px 0px 6px 10px;
  display: flex;
  height: 55px;
}

/* Adjusts Data Center Energy Use Dashboard Text */

.title {
  padding: 0px 14px 0px 14px;
  color: #737373;
  margin: 6px 0px 6px 10px;
  border-left: 1px solid darkgray;
  width: 600px;
}

/* Adjusts ISAL logo */

.logo {
  height: 44px;
  padding-top: 5px;
}

.page-title {
  padding: 52px 0px;
}

.card {
  background: #fff;
  padding: 28px;
  margin-bottom: 28px;
  border-radius: 2px;
  background-clip: padding-box;
}

.sidenav {
  grid-area: sidenav;
  padding-top: 20px;
  padding-left: 12px;
}

/* Adjusts font size of nave bar items */

.ms-Nav-linkText {
  font-size: 20px;
}

/* Adjusts padding below nav bar items */

.ms-Nav-navItem {
  padding-bottom: 10px;
}

body {
  background-color: white;
  min-height: 611px;
  margin-left: 320px;
  margin: 0;
  transition: 0.5s;
}

.footer {
  grid-area: footer;
  background-color: #f3f2f1;
  padding: 12px 20px;
}

/* Add red to input boxes that are not filled out */

.red-border {
  border: 2px solid red;
}

/* Make Modal pop ups stretch only across 65% of the screen for easier reading */

#ModalFocusTrapZone72 {
  width: 50%;
  margin: auto;
}

#ModalFocusTrapZone73 {
  width: 50%;
  margin: auto;
}

/*
.fieldGroup-131 {
  width: 50px;
}
*/

/* rgba(225, 223, 221, 0.2) old gray color